# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: ec49c7e959a3d1676f2b0b33746654a947da9dbbf289eda5007e91a7b91fc5b99fc157d66452d7f2fff248a766976c203ab04c6c1257b88775609374718334d6

test:
  secret_key_base: 1dc9322c5d94a8c1cf5ff2aaaf07719fe0de23052b13f8e8db5df1c1aa3c55c24b427fad44fe1dc397c5085152170777acd25c35c42b97c462fcf742e59e8667

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
